/* Global */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

ul {
    list-style: none;
}

.landing-frame {
    width: 1080px;
    height: 1920px;
    background-color: rgb(28, 36, 37);
    background-image: url('images/ashe-bob.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.frame {
    width: 1080px;
    height: 1920px;
    background-color: black;
}

.dim {
    position: absolute;
    width: 1080px;
    height: 1920px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #999;
    text-align: center;
    /* background-color: rgba(189, 164, 23, 0.1); */
}

footer h3 {
    padding: 3px;
}

footer p {
    padding: 2px;
}

/* Landing page */
.landing-vid {
    position: absolute;
    width: 1080px;
    height: 1920px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.landing-main {
    position: relative;
    padding-top: 680px;
    text-align: center;
    color: white;
}

.landing-main h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 72pt;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.landing-main h3 {
    font-family: "Urbanist", sans-serif;
    font-size: 38pt;
    font-weight: 400;
    padding-top: 6px;
    margin: 0;
}

.landing-main p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16pt;
    padding-top: 870px;
}

/* Main Page */
/* Header */
.main-vid {
    width: 1080px;
}

.indicator {
    text-align: center;
}

.main-headline {
    font-family: "Urbanist", sans-serif;
    color: aliceblue;
    text-align: center;
}

.main-headline h2 {
    width: 300px;
    font-size: 28pt;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 38px;
    padding-top: 24px;
    border-top: 1px solid #333;
}

.main-headline h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18pt;
    font-weight: lighter;
    padding-top: 16px;
}

/* Navigation */
main {
    /* border: 1px dashed red; */
}

.main-section {
    height: 360px;
    margin-top: 36px;
    background-image: url('images/ashe-bob.png');
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Noto Sans KR", sans-serif;
    color: #BBB;
}

.main-section p {
    font-size: 16pt;
    font-weight: 300;
    padding: 40px 0 0 0;
    text-align: center;
}

.main-nav {
    width: 1020px;
    margin: 0 auto;
}

.nav {
    position: relative;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid #41412C;
    border-radius: 32px;
}

.nav-1 {
    position: relative;
    width: 100%;
    background-image: url('images/main-nav-1.webp');
    background-size: cover;
}

.nav-2 {
    display: inline-block;
    width: 500px;
    margin: 20px 14px 0 0;
    background-image: url('images/main-nav-2.webp');
    background-position: center;
    background-size: cover;
}

.nav-3 {
    display: inline-block;
    width: 500px;
    margin: 20px 0 0 0;
    background-image: url('images/main-nav-3.webp');
    background-position: center;
    background-size: cover;
}

.main-nav h2 {
    position: absolute;
    text-align: right;
    width: 200px;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    color: white;
    border-left: 2px solid wheat;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Sub Page */
.sub-header {
    height: 608px;
    background-image: url('images/sub-header.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

.sub-header nav {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px dashed greenyellow; */
}

.sub-header nav ul {
    display: inline-block;
    color: white;
    /* border: 1px dashed orange; */
}

.sub-header nav ul li {
    display: inline;
    padding: 0 80px;
    font-size: 14pt;
    /* border: 1px dashed blue; */
}

.nav-logo {
    display: inline-block;
    margin: 0 auto;
    /* border: 1px dashed red; */
}

.sub-logo {
    margin: 80px 0 0 0;
    text-align: center;
}

.sub-section {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    color: white;
}

.sub-section h1 {
    font-size: 28pt;
    padding: 40px 0 30px 0;
}

.sub-section h2 {
    font-weight: 400;
}

.sub-gallery {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    /* border: 1px dashed orange; */
}

.arrow {
    width: 20px;
    padding: 320px 20px 320px 20px;
    /* border: 1px dashed red; */
}

.gallery-img {
    width: 100%;
    height: inherit;
    background-image: url('images/ashe-screenshot-001.jpeg');
    background-position: center;
    background-size: cover;
    /* border: 1px dashed yellowgreen; */
}